
# front
FRONTEND/node_modules/
FRONTEND/.pnp
FRONTEND/.pnp.js
FRONTEND/coverage
FRONTEND/build
FRONTEND/.DS_Store
FRONTEND/.env



npm-debug.log*
yarn-debug.log*
yarn-error.log*
# dependencies
/node_modules/
/.pnp
.pnp.js

#DB
devices.db

# testing
/coverage
/test

# production
/build

