.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.lhistory {
  font-size: 14px;
}
.lhistory > li {
  padding: 4px;
}
.gris {
  opacity: 0.5;
}
.tbold {
  font-weight: bold;
  color: cyan;
}
.select_simulation {
  padding: 8px 20px;
  margin-right: 5px;
}
.mt-large {
  margin-top: 3rem;
}
.noinfo {
  padding: 20px 0 10px;
  font-size: medium;
}
.border {
  border: 1px solid #fefefe;
  padding: 0px 20px 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 1vmin);
  color: white;
}
.shand {
  cursor: pointer;
}
button {
  padding: 8px 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
